body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.picture_index{
    margin-bottom:20px;
    text-align:center;
    border: solid #dddddd 1px;
    margin: 0 auto;
    width: 50%;
    background-color: #ffffff;
    margin-bottom: 20px;
}

.picture_index img{
    margin:10px;
}

.indexImg{
    width:25%;
    height:25%;
}

body {
background-color: #FAFAFA;
}

.index_username {
    font-weight: bold;
    display:inline;
    color: #E47E1C;
    font-size: 17px;
    padding-right: 15px;
}

.index_caption{
    color: black;
    display:inline;
}

#userInfo {
    padding-top: 20px;
    text-align: left;
    padding-left: 20px;
}

#commentInfo {
    text-align: left;
    padding-left: 20px;
}

#commentInfoIndex {
    text-align: left;
    padding-left: 20px;
    width: 100%;
    text-align: left;
}

#index_pages_links {
    text-align:center;
}

.centered-div {
    width: 50%;
    margin: auto;
}

#comment-input {
    margin: auto;
    height: 50px;
}

#comment-container {
    /*border-bottom: 1px solid grey;*/
}

#commentInfo {
    width:50%;
    float:left;

}

#score {
    width:50%;
    float:left;

}

.flag {
    border:none;
}

.like {
    border:none;
}

.dislike {
    border:none;

}

.pic-form {
	border: 1px solid #d8d8d8;
    margin: 80px;
    background-color: white;
    padding: 50px;
}

.bm {
	margin-bottom: 20px;
}

label.bm {
	font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}

